.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-image: url(../../assets/branche2.png);
  background-size: cover;
  margin-left: 140px;
  overflow: hidden;
}

.titleYannickLanteri {
  align-self: flex-start;
  width: 650px;
  height: auto;
  margin: 70px 0 50px 0;
}

.about h2 {
  color: var(--thirdColor);
  font-size: 2.5em;
}

.aboutBloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 100%;
  padding-top: 30px;
}

.aboutBlocText {
  width: 50%;
  max-width: 650px;
  max-height: 400px;
  font-size: 1.8em;
}

.aboutBlocText p {
  font-weight: bold;
}

.aboutBlocText span {
  color: var(--thirdColor);
}

.aboutBlocImg {
  width: 500px;
  height: 500px;
  background-image: url(https://i.ibb.co/K2ShZwh/logo-Profil-Yan.png);
  background-size: cover;
  transition: 0.9s;
}
.aboutBlocImg:hover {
  background-image: url(https://i.ibb.co/tPLDP6N/logo-Profil-Ninja.png);
}

@media (max-width: 1200px) {
  p {
    font-size: 24px;
  }
}

@media (max-width: 850px) {
  .about {
    margin: 0 0 0 20px;
  }
  .titleYannickLanteri {
    width: 300px;
    margin-bottom: 20px;
    align-self: center;
  }
}

@media (max-width: 700px) {
  .about {
    margin: 0;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .titleYannickLanteri {
    width: 300px;
    margin: 0;
    align-self: center;
  }

  .aboutBlocImg {
    display: none;
  }
  .about h2 {
    font-size: 1.2em;
    margin: 20px 0;
  }
  .aboutBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .aboutBlocText {
    width: 90%;
  }
  .nav {
    display: none;
  }

  .fa-arrow-down {
    display: none;
    position: absolute;
    bottom: 85px;
    right: 20px;
  }
}
