.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height:100vh;
    background-image: url(../../assets/branche2.png);
    background-size: cover;
    margin-left: 140px;
  }

  .titleYannickLanteri {
    align-self: flex-start;
    width: 650px;
    height: auto;
    margin: 70px 0 50px 0;
  }

  .about h2 {
    color: var(--thirdColor);
    font-size: 2.5em;
  }

.aboutBloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 100%;
  padding-top: 30px;
}

.aboutBlocText {
  width: 50%; 
  max-width: 650px ;
  max-height: 400px;
  font-size: 1.8em;
}

.aboutBlocText span {
  color: var(--thirdColor);
}

.aboutBlocImg{
  width: 500px;
  height: 500px;
  background-image: url(https://i.ibb.co/tPLDP6N/logo-Profil-Ninja.png);
  background-size: cover;
  transition: 0.9s ;
}
.aboutBlocImg:hover {
  background-image: url(https://i.ibb.co/K2ShZwh/logo-Profil-Yan.png);

}

@media (max-width: 1200px) {
  p {
    font-size: 24px;
  }
}