.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.experience h1 {
  position: absolute;
  top: 140px;
}

.slide {
  margin-top: 100px;
  overflow: hidden;
  width: 100vw;
}

.slideBloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.slideBloc img {
  height: 100%;
  width: 100%;
  border: 5px solid var(--firstColor);
  border-radius: 20px;
}

.slideBloc video {
  height: 400px;
  width: 100%;
  border: 2px solid var(--firstColor);
  border-radius: 20px;
  /* object-fit: cover; */
  object-position: cover;
}

.slideImg {
  width: 580px;
  height: 400px;
  position: relative;
}

.slideText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.9;
  border-radius: 20px;
  font-size: 1.2em;
  text-align: center;
  margin: 0 30px 0 0;
  width: 580px;
  height: 400px;
}

.slideText h2 {
  color: var(--thirdColor);
  font-weight: bold;
}

.slideText h3 {
  color: var(--thirdColor);
  margin: 10px 0;
  font-weight: bold;
}

.slideText p {
  width: 90%;
  /* text-shadow: 2px 2px 2px var(--secondColor); */
}

@media (max-width: 1200px) {
  p {
    font-size: 20px;
  }

  h2 {
    font-size: 24px;
  }
  .slideText p {
    width: 98%;
  }

  .slideImg,
  .slideText {
    width: 410px;
    height: 500px;
  }
}

@media (max-width: 700px) {
  .experience h1 {
    top: 30px;
    font-size: 1.47em;
  }
  .slideBloc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
  }

  .slideBlocRepos {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 250px;
  }

  .slideBloc img {
    border: 1px solid var(--firstColor);
    align-self: center;
  }

  .slideText * {
    display: none;
  }

  .slideText h2 {
    display: block;
  }

  .slideImg {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide {
    margin: 20px 0 0 0;
  }

  .fp-controlArrow {
    position: absolute;
    top: 90%;
  }

  .fp-controlArrow.fp-prev {
    left: 10px;
    border-color: transparent var(--firstColor) transparent transparent;
    border-width: 15px 20px 15px 0;
  }

  .fp-controlArrow.fp-next {
    right: 10px;
    border-color: transparent transparent transparent var(--firstColor);
    border-width: 15px 0 15px 20px;
  }

  .slideText {
    justify-content: center;
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0 0 2px 0;
  }
  .slideText h2 {
    font-size: 0.9em;
    margin-top: 4px;
  }
  .slideText h3 {
    margin: 3px 0;
    font-size: 0.8em;
  }
  .slideText p {
    font-size: 0.7em;
    line-height: 1em;
    width: 99%;
  }
}
