  .linkedIn {
    position: absolute;
    bottom: 10px;
    right : -15px;
    margin-top: 25px;
    text-align: center;
    z-index: 10;
  }

  .gitHub {
    position: absolute;
    bottom: 10px;
    left : 0;
    margin-top: 25px;
    text-align: center;
    z-index: 10;
  }
  
  .linkedIn i, .gitHub i {
    color: var(--thirdColor);
    margin-bottom: 5px;
  }
  
  .linkedIn p, .gitHub p {
    font-size: 1.3em;
  }

  .contactLogo a {
      text-decoration: none;
      color: var(--thirdColor);
  }
    
  .contactLogo {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }