:root {
    --firstColor: #ECFEF4;
    --secondColor: #1D1D35;
    --thirdColor: #BE7C4D;
    --gradientColor:#0C2C20;
    --fontTitle: "IvyJournal" 400;
    --fontBody: 'Ivyjournal', sans-serif;
  }
  

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {text-decoration: none;}

.App {
    background:var(--gradientColor); font-family: var(--fontBody); min-height: 100vh; background-attachment:fixed; font-style: normal; color: var(--firstColor);
  }

input,
button,
textarea,
select {
font: inherit;
}

ul[role='list'],
ol[role='list'] {
list-style: none;
}

h1 h2 {font-family: var(--fontTitle); font-weight: 400; color: var(--thirdColor);}

